# Standard requirements
black
coverage
coveralls
flake8
pylint
pytest
sphinx
sphinx-rtd-theme
twine

# Specific requirements for this project
aiofiles
async_timeout
cryptography
libusb1
pyasn1
pycryptodome
rsa
